*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #a3bffa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
    font-family: "Roboto", sans-serif;
}
.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    padding: 20px;
    text-align: center;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    object-fit: fill;
    border: 3px solid #4285f4;
}
.name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.email {
    color: #888888;
    margin-bottom: 20px;
}
.manage-account {
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.account-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    cursor: pointer;
}
.account-item:first-child {
    border-top: none;
}
.account-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #34a853;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}
.account-icon.dev {
    background-color: #4285f4;
}
.account-info {
    text-align: left;
}
.account-info .name {
    font-size: 14px;
    font-weight: bold;
}
.account-info .email {
    font-size: 12px;
    color: #888888;
}
.add-account, .logout {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    cursor: pointer;
}
.add-account .account-icon, .logout .account-icon {
    background-color: #f1f1f1;
    color: #888888;
}
.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888888;
}
.footer a {
    color: #888888;
    text-decoration: none;
    margin: 0 5px;
}

/* ------screen-------- */
@media screen and (max-width:768px) {
    .container{
        min-width: 85%;
    }
}